@media screen and (min-width: 769px) {

  main {
    padding: 52px 134px 90px;
  }

  .header {
    padding-bottom: 52px;
    border: none;
    margin-bottom: 60px;
  }

  .hero {
    position: relative;
    height: 676px;
  }

  .hero__title {
    font-size: 4.3125rem;
    width: 684px;
    padding-top: 90px;
    margin-bottom: 60px;
  }

  .hero__text {
    width: 684px;
    font-size: 1.125rem;
    line-height: 1.4rem;
  }

  .logo__img {
    width: 56px;
    height: 50px;
  }

  nav {
    display: block;
  }

  .burger-menu {
    display: none;
  }

  .btn {
    padding: 16px 32px;
    font-size: 1.125rem;
  }

  .btn-start {
    display: block;
    text-transform: initial;
  }

  .nav-list {
    display: flex;
    font-size: 1.125rem;
    justify-content: space-between;
    gap: 20px;
  }

  .nav-item a:hover {
    color: var(--color-purple);
  }

  .nav-link {
    transition: 0.7s ease;
    color: var(--color-black);
    text-transform: lowercase;
  }

  .nav-item--active a {
    color: var(--color-purple);
    text-transform: initial;
  }

  .img-block {
    position: absolute;
    width: 566px;
    top: 0;
    right: 0;
  }

  .video__link {
    font-size: 1.125rem;
  }

  .video__img {
    width: 55px;
    height: 55px;
  }

  .img-block {
    height: 676px;
  }

  .img-block__dog-print {
    width: 58.57px;
    height: 60.98px;
  }

  .img-block__right-angle {
    width: 345.02px;
    height: 361.07px;
    right: 0;
    top: 0;
  }

  .img-block__dog {
    width: 240.71px;
    height: 344.22px;
    top: 9px;
    right: 0;
  }

  .img-block__left-angle {
    width: 345.02px;
    height: 361.07px;
    bottom: 1rem;
    left: 0;
  }

  .img-block__cat-print {
    width: 58.57px;
    height: 60.98px;
    bottom: 1rem;
    right: 0;
  }

  .img-block__cat {
    width: 450px;
    height: 450px;
    bottom: -1.7rem;
  }

  .indicator-item__number {
    font-size: 2.7rem;
    margin-bottom: 5px;
  }

  .indicator-item__mark {
    font-size: 1.125rem;
  }

  .indicator-item {
    margin-right: 4rem;
  }

}
