* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: 400;
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
}

body {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.overlay-bg {
  background: linear-gradient(
    330.24deg,
    rgba(0, 0, 0, 0) 31.06%,
    #000000 108.93%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.down-overlay-bg {
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 77.78%);
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 358px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 84px 0;
  position: relative;
  z-index: 1;
}

nav {
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.search {
  display: flex;
  align-items: center;
  opacity: 0.6;
}

.search img {
  margin-right: 14px;
}

.search button[type="submit"] {
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
  font-family: "Open Sans";
  font-size: 18px;
}

.search button[type="submit"]:hover {
  background-color: #555;
}

.hero-section-wrapper {
  background: url(../assets/images/hero-bg.png) center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.hero-section .pre-heading {
  margin-top: 198px;
  color: rgba(255, 193, 120, 1);
}

.pre-heading {
  color: rgba(251, 215, 132, 1);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 6px;
}

.pre-heading::before {
  content: "";
  display: inline-block;
  border-top: 2px solid rgba(251, 215, 132, 1);
  width: 72px;
  margin: 0 24px 0 0;
  vertical-align: middle;
}

.hero-section .pre-heading::before {
  color: rgba(255, 193, 120, 1);
}

h1 {
  font-size: 88px;
  font-weight: 400;
  margin-top: 32px;
}
h1 .bolded {
  font-size: 96px;
  font-weight: 700;
}

.scroll-btn {
  margin-top: 126px;
  display: flex;
}

.scroll-btn img {
  margin-left: 8px;
}

.follow-section {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  margin-left: 80px;
}

.follow-section-wrapper {
  position: absolute;
  top: 360px;
}

.follow-section > * {
  margin-bottom: 20px;
}

.follow-section a {
  width: 24px;
  height: 24px;
}

.follow-section-text {
  font-weight: 600;
  writing-mode: vertical-lr;
}

.content-section {
  margin: 250px 230px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.holiday-section {
  z-index: 1;
  position: relative;
  margin: -20px 230px 0 230px;
}

.content-section-text {
  max-width: 632px;
}

.content-section-text > *:not(:first-child) {
  margin-top: 28px;
}

h2 {
  font-size: 64px;
  font-weight: 700;
}

.content-section-text p {
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 28px;
}

.read-more-btn {
  margin-top: 28px;
  color: rgba(251, 215, 132, 1);
  font-weight: 700;
}

.read-more-btn::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 16px;
  background-image: url("../assets/icons/arrow-right.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: 10px;
}

.content-section-slider {
  background: no-repeat center center url(../assets/images/steps-img.png);
  background-size: cover;
  height: 100vh;
  align-items: end;
  justify-content: center;
  position: relative;
}

.content-section-slider:last-child {
  display: block;
}

.content-section-slider .pre-heading::after {
  content: "";
  display: inline-block;
  border-top: 2px solid rgba(251, 215, 132, 1);
  width: 72px;
  margin: 0 0px 0 24px;
  vertical-align: middle;
}

.content-section-slider-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin: 0 150px 42px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.content-section-slider-text > *:not(:first-child) {
  margin-top: 28px;
}

.content-section-slider-text:last-child {
  margin-top: 38px;
}

.content-section-slider-text p {
  font-weight: 600;
  line-height: 32px;
}

.arrow {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.arrow-left {
  margin-left: 36px;
}
.arrow-right {
  margin-right: 36px;
}

.down-overlay-content-bg {
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 109.55%
  );
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 358px;
}

.footer {
  margin: 250px 230px 0 230px;
  padding-bottom: 118px;
}

.pre-footer {
  border-bottom: 1px solid #979797;
  display: flex;
  justify-content: space-between;
}

h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
  margin: 12px 0 0px 4px;
}

.start-btn-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
}

.start-btn-text {
  font-size: 22px;
}

.start-btn {
  border: none;
  background-color: #ffa343;
  color: #000000;
  border-radius: 8px;
  margin-left: 56px;
  padding: 24px 72px;
  text-align: center;
  text-decoration: none;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.footer-nav {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
}

.footer-input {
  width: 400px;
}

.footer-input h3 {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -0.3px;
  line-height: 50px;
}

.input-wrapper {
  width: 100%;
  display: flex;
  margin-top: 50px;
}

.footer-input input {
  background-color: #000000;
  width: 100%;
  font-family: "DM Sans";
  font-size: 16px;
  letter-spacing: -0.2px;
  padding: 18px 0px 30px 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-input button {
  background-color: rgba(255, 163, 67, 1);
  border: none;
  padding: 20px;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 96px;
}

.footer-column {
  margin-left: 184px;
}

.footer-column h5 {
  color: rgba(255, 209, 160, 1);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 22px;
  letter-spacing: -0.23px;
}

.footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-column li {
  margin-bottom: 22px;
}

.footer-column a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: -0.2px;
}

.footer-block {
  margin: 108px 41px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px; */
}

.terms-policy a {
  color: #fff;
  text-decoration: none;
  margin-right: 88px;
  font-size: 14px;
  letter-spacing: -0.2px;
}

.social-media-icons a {
  margin-right: 50px;
}

.social-media-icons a:last-of-type {
  margin-right: 0;
}

.copyright {
  margin-top: 156px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-weight: 600;
  line-height: 32px;
}
