/* Download font 'Rubik' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #ffffff;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff4948;
  --color-gradient: linear-gradient(46deg, #FF9292 0%, #DE5150 100%);
  --color-star: rgba(253, 174, 56, 1);
}

/* COMMON PAGE STYLES */

*{
  box-sizing:border-box;
}

main  *::-moz-selection{
  background-color: var(--color-red);
  color: var(--color-white);
  }

main  *::selection{
  background-color: var(--color-red);
  color: var(--color-white);
}

.hero *::-moz-selection,
footer *::-moz-selection {
  background-color: var(--color-white);
  color: var(--color-black);
}

.hero *::selection,
footer *::selection {
  background-color: var(--color-white);
  color: var(--color-black);
}


a {
  all: unset;
}

.wrapper{
  overflow-x: hidden;
}

img, button{
  user-select: none;
}

p, h1, h3 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: var(--color-white);
  overflow-x: hidden;
}

body{
  position: relative;
}

.hero--bg, .footer-bg{
  background: var(--color-gradient);
}

.hero, main, footer{
  max-width: 480px;
  margin: 0 auto;
  padding: 25px;
}

.hero{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main--bg{
  background: var(--main-bg-color);
}

header, footer{
  justify-content: space-between;
  align-items:center;
}

header{
  position: relative;
}

header, .header__logo-img, .header__burger-menu, .article__hero-photo, .footer__logo-img{
  display: flex;
}

.header__burger-menu{
  align-items:center;
  padding: 10px;
}

button{
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;
}

button:hover, a:hover, .swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.line-through{
  text-decoration: line-through;
  font-size: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  opacity: 0.7;
}

.article__hero-photo, .main__hero-photo{
  width: 100%;
}

.hero-photo{
  width: 100%;
}

.dollar{
  font-size: 44px;
  font-weight: 700;
}

p{
  white-space: nowrap;
}

.separator {
  content: "";
  width: 4px;
  background-color: var(--color-white);
}

article{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article__price, .main__list, .main__aside{
  gap: 30px;
}

.article__buy-button{
  border:none;
  padding: 15px 30px;
  background: var(--color-white);
  border-radius: 4rem;
  color: var(--color-red);
  width: 100%;
  font-size: 22px;
  font-weight: 500;
}

h1{
  font-size: 2.2rem;
  font-weight: 700;
}

h3{
  font-size: 1.5rem;
  font-weight: 500;
}

.article__price, .article__buy-button{
  display: flex;
  justify-content: center;
}

.article__main-info{
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.header__ul{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

ul >li {
padding:10px;
}

.header__svg, .footer__svg{
  display: flex;
  justify-content: center;
  align-items:center;
  width: 50px;
  height: 50px;
  background: var(--color-white);
  border-radius: 50%;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.search-svg, .box-svg, .user-svg{
  width: 18px;
}

.header__nav-mobile{
  position: absolute;
  top: 0%;
  width: 200px;
  right: -150%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2rem;
  visibility: hidden;
  transition: 0.3s ease;
}

.header.open .header__nav-mobile{
  right: 0;
  visibility: visible;
}


.header.open .header__burger-menu{
  z-index: 1;
}

.header__ul span{
  display: none;
}

.image-slider__image {
  display: flex;
}

.image-slider__image img {
  width: 100%;
}

.swiper-button-next:after,
.swiper-button-prev::after {
  color: var(--color-black);
}


::-webkit-scrollbar {
  width: 4px;
}


::-webkit-scrollbar-track {
  background-color: var(--color-gradient);
  border-radius: 4px;
}


::-webkit-scrollbar-thumb {
  background-color: var(--color-red);
  border-radius: 4px;
}


::-webkit-scrollbar-thumb:hover {
  background-color: rgba(236, 47, 47, 0.5);
}

.main__slider-info{
  text-align: center;
}

.main__info{
  color: var(--color-black);
  font-size: 2rem;
  font-weight: 500;
  white-space: normal;
}

.main__info-sub{
  font-size: 1rem;
  opacity: 0.7;
}

.main__price{
  font-size: 1.4rem;
  margin-left: auto;
}
.main__reward, .main__price, .main__info-sub{
  color: var(--color-black);
  white-space: normal;
}

.main__reward{
  font-size: 1rem;
  margin-left: auto;
}

.main__info-sub-red{
  color: var(--color-red);
  font-size: 1rem;
  font-weight: 500;
}

.main__list, .main-element-text{
  flex-direction: column;
}

.main__element-img, .main-list-element, .main__hero-photo{
  display: flex;
}

ul li{
  padding: 0;
}

.main-list-element{
  gap: 20px;
}

.main-element-text{
  gap: 10px;
}

.main__section{
  gap: 30px;
}

.main__hero-photo{
  padding: 80px;
}

.main__aside, .main__section{
display: flex;
flex-direction: column;
}

.main__headphones-info{
text-align: center;
}

.checked {
  color: var(--color-star);
}

.aside-photo{
  display: flex;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.main__li2{
  position: relative;
}

.main-element-text2{
  flex-direction: column-reverse;
  gap: 15px;
}

.main-list-element2{
  display: flex;
  flex-direction: column;
  gap: 10px
}

.aside-one, .aside-three{
  display: none
}

.main__latest-product{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center
}

.pink-bg{
  width: 100%;
}

.pink-one, .blue-one, .green-one{
  width: 100%;
}

.asides{
  display:flex;
  gap:20px
}

.main__latest-product{
  display: flex;
  gap: 40px
}

.section2{
flex-direction: column-reverse;
}

.info2{
  text-align: start;
}

.main__box-text{
  color: var(--color-black);
  font-size: 1.3rem;
  opacity: 0.7;
}

.main__list2{
  display: flex;
  flex-direction: column;
  gap:10px;
}

.separator2 {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--color-black);
  opacity: 0.1;
}

.main__box-text::before{
  content: url("../assets/icons/arrow-in-circle.svg");
  margin-right: 5px;
  vertical-align: middle;
}

.main__aside{
  padding:10px;
}

table {
  background: #FFF4F4;;
  border-radius: 1.2rem;
  border-spacing: 3rem;
  width: 100%;
}

td:not(:last-child){
  margin-bottom: 20px;

}
.main__table-input {
  background: var(--color-white);
  border-radius: 1rem;
  padding: 0.9rem 1.8rem;
  width: 100%;
}

.main__table-label {
  font-size: 2rem;
}

tr{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items:center
}

.main__subscribe{
  font-size: 2.75rem;
  font-weight: 700;
  color: var(--color-black);
}

td{
  width: 100%;
  position: relative;
} 

.main__button-red{
  color: var(--color-white);
  font-size: 1.375rem;
  font-weight: 500;
  background: var(--color-red);
  padding: 15px 30px;
  border-radius: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__table-input {
  border: none;
}

.btn-td{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__latest-product .main__info-sub{
width: 50%;
margin: 0 auto;
}

.footer__list1, .footer__list2, .footer__list2 li, footer{
  display: flex;
}

.footer__list1, .footer__list2{
  gap:30px;
}

.footer__menu{
  display: none;
}

.footer__list1 p{
  font-size: 22px;
  font-weight: 500;
}

.image-slider__image{
  width: 100%;
  transform: scale(0.7)
}
.image-slider__image img{
  width: 100%;
}

.image-slider__slide.swiper-slide-active .image-slider__image{
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.swiper-slide-active .image-slider__image{
  transform: scale(0.9)
}

.swiper-slide-next {
  z-index: -1;
}

@media screen and (min-width: 768px) {
.hero, main, footer{
  max-width: 1280px;
  padding: 20px 240px;
}

article{
  flex-direction: row;
  align-items: center;
}

.article__buy-button{
  width: 50%;
}
.article__hero-photo{
  display: block;
}

h1{
  font-size: 4.5rem;
}

h3{
  font-size: 1.3rem;
}

.article__price{
  justify-content: start;
}

.header__burger-menu{
  display:none;
}

.header__nav-mobile {
  position: static;
  top: auto;
  width: auto;
  right: auto;
  background: none;
  border-radius: 0;
  visibility: visible;
}

.header__ul{
  gap: 32px;
  flex-direction: row;
}

ul >li {
  padding: 0;
  }

  .header__ul span{
    display: inline;
  }
  .main__section{
    flex-direction: row;
    align-items: center;
  }

  .aside-one, .aside-three{
    display: block;
  }

  .aside-photo{
    top: 35%;
  }

  .section2{
    flex-direction: row-reverse;
  }

  table {
    width: 80%;
    margin: 0 auto;
  }

  .main__button-red{
    position: absolute;
    top: -4.6rem;
    right: -0.4rem;
    width: 40%;
  }

  .footer__menu{
    display: block;
  }
}
