.header__nav-bar__buttons{
    border: none;
    background: none;
    color:var(--color-white);
}

.header__nav-bar__list{
    position: absolute;
    display:flex ;
    list-style-type: none;
    flex-direction: row;
    gap: 55px;
    font-size: 40px;
    font-weight: 400;
}


.header__nav-bar__logo{
    position: relative;
    display: flex;
    left:0.5vw;
    top: 0.9vh;
}

.header__nav-bar{
    display: flex;
    padding-top: 0;
}

header{
    margin-top: 1%;
    display: flex;
    flex-direction:row;
}

