.body__container__text-big{
    display: flex;
    font-size: 110px;
    font-weight: 400;
}

.body__container__text-small{
    display: flex;
    font-weight: 400;
    font-size: 34px;
    padding-bottom: 2%;
    
}

.body__container{
     padding-right: 20%;
    display: flex;
    justify-content: start;
    align-items: center; 
}

.body__container__button{
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 400;
    font-size: 40px;
    background-color: var(--color-main);
    color: var(--white);
    border: none;
    border-radius: 10px;
    width: 265px;
    height: 81px;
}

.body__container__image{
    height: 91vh;
    z-index: -1;
    position: fixed;
    bottom: 0px;
    right:-10%;
}

a{
color:white;
text-decoration: none;
}

.body__content{
    height:85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body2{
    display: flex;
    flex-direction: row;
}

.body2__main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55vw
}

.body2__big-text{
    font-weight: 400;
    font-size: 96px;
    white-space: nowrap;
}

.body2__small-text{
 font-size: 24px;
 font-weight: 400;
}

.body2__buttons{
    display: flex;
    padding-top: 8vh;
    padding-bottom: 8vh;
    gap: 15%;
}

.body2__button{
    display: flex;
    background-color: var(--color-main);
    color: var(--white);
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 90px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.body2__img{
    width: auto;
    height: 48vh;
}

.body3__img{
    position: fixed;
    z-index: -1;
    left: 15%;
    top: 10%;
    height: 91vh;
}

.body3__registration-form {
    background-color: var(--color-main);
    display: flex;
    padding: 20px;
    width: 600px;
    height: 20vh;
    margin: 0 auto;
    border-radius: 20px;
  }

  .body3__registration-table {
    width: 100%;
  }

  .body3__registration-label {
    color: white;
    font-weight: 400;
    font-size: 30px;
    padding: 5px;
  }

  .body3__registration-input {
    font-size: 20px;
    border-radius: 15px;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 3px solid var(--color-orange);
  }